<!--------------
Name         : HMAInvite
Created By   : Nagarajan Varadarajan
Company Name : NTT Data
Project      : LCBS
Created Date : 
Test Class   :  
Test Class URL: 
Usages       : 
Modified By  :
---------->

<apex:component controller="HMAInvite" allowDML="true" access="global">

    <apex:attribute name="account" type="String" description="TODO: Describe me"/>
    <apex:attribute name="AccountId" description="Account Id" type="Id" assignTo="{!AcctId}" />
<!--<apex:attribute name="BuildingId" description="Building Id" type="Id" assignTo="{!BuldId}"/> -->

<html>
  <body>
  <form>
  
      <!-- Temp -->
      
          <table cellpadding="0" cellspacing="0" style='font-size:14px;width:625px;padding: 15px;border: 20px solid #e1e1e1;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;'>
            <tbody>
                <tr>
                    <td>
                        <table cellpadding="0" cellspacing="0" width="100%" style="font-size:14px;margin-bottom:25px;border-bottom: 2px solid #e1e1e1;">
                            <tr>
                                <td style="color: #848484;font-weight: 600;padding-bottom:20px;"><img width="100" id="img-logo" style="vertical-align: middle;" src="https://ssoazure--devlcbs--c.cs17.content.force.com/servlet/servlet.ImageServer?id=015g0000001BLG2&oid=00Dg0000003Nq6j&lastMod=1451459111000"/>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                    LCBS Connect
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <table cellpadding="0" cellspacing="0" width="100%" style="font-size:14px;">
                            <tr>
                                <td style="padding-bottom:20px;">
                                    {!AcctId} 
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom:20px;">
                                    Congratulations! You have been selected to market, sell and support Honeywell‘s Light Commercial Building Solution, "LCBS Connect".
                                </td>
                            </tr>
                            
                            <tr>
                                <td style="padding-bottom:20px;">
                                    The LCBS Connect solution empowers service contractors to control, remotely monitor and manage HVAC equipment, The HVAC service contractor increases business efficiency by providing timely insights into the operation of the equipment under service contracts, leading to valuable service contract retention.
                                </td>
                            </tr>
                            
                            <tr>
                                <td style="padding-bottom:20px;">
                                    You and your local Honeywell Account Executive have already met and agreed to the business terms and conditions associated with LCBS Connect. If you have question about this work, please contact your Honeywell Account Executive <a href="#">{!executive_name}</a> at <a href="mailto:{!executive_email}">{!executive_email}</a>, <a href="tel:{!executive_phone}">{!executive_phone}</a>
                                </td>
                            </tr>
                            
                            <tr>
                                <td style="padding-bottom:20px;">
                                    Please review <a href="#">Honeywell‘s privacy statement and legal agreement</a> for using the LCBS Website to generate business. Agreeing to the website terms will allow us to issue you a user name and temporary password and give you directions on next steps.
                                </td>
                            </tr>
                            
                            <tr>
                                <td style="padding-bottom:30px;">
                                    We look forward to a successful partnership as we enable the Service Contractor Community to serve their customers in an efficient and productive manner.
                                </td>
                            </tr>
                            
                            <tr>
                                <td style="padding-bottom:20px;">
                                    Thank you
                                </td>
                            </tr>
                            
                            <!-- Signatuire -->
                            <tr>
                                <table cellpadding="0" cellspacing="0" style="font-size:14px;margin-bottom:20px;" width="100%">
                                    <tr>
                                        <td style="padding-bottom:15px;">
                                            <apex:image value="{!sfdcBaseURL}/servlet/servlet.ImageServer?id={!sign.id}&oid={!orgid}" width="135px" height="50px"/> <br/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom:15px;">
                                            Larry Weber
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Vice President and General Manager
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-bottom:15px;">Honeywell</td>
                                    </tr>
                                </table>
                            </tr>
                            <!-- Signatuire -->
                            <tr>
                                <td>
                                    <table cellpadding="0" cellspacing="0" width="100%" style="font-size:14px; margin-bottom:30px">
                                        <tr>
                                            <td>
                                                <a href="{!$Label.HMA_Invite_Distributor}?id={!AcctId}" style="padding: 15px;background: #1483cd;text-decoration: none;color: #fff;">Get started now </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
      
      
      
      <!-- Temp -->
  
  
  
  <!-- OLD Code -->
  <!-- <div class="background"> -->
     <!--   <div class="container ng-scope" ng-controller="AlertController as vm">            
        </div>
        <div>
           <apex:image value="" url="https://az815540.vo.msecnd.net/content/logo.png"/>
           <br/>
        </div>
        <br/>-->
      <!--    <div class="contentMar">
          <div class="clearfix" style="padding-top:12px">
         <div class="col-md-8">
    {!AcctId} <br/><br/>

    Congratulations! You have been selected to market, sell and support Honeywell‘s Light
    Commercial Building Solution, "LCBS Connect".<br/><br/>
    
    The LCBS Connect solution empowers service contractors to control, remotely monitor and
    manage HVAC equipment, The HVAC service contractor increases business efficiency by
    providing timely insights into the operation of the equipment under service contracts, leading
    to valuable service contract retention.<br/><br/>
    
    You and your local Honeywell Account Executive have already met and agreed to the business
    terms and conditions associated with LCBS Connect. If you have question about this work,
    please contact your Honeywell Account Executive <a href="#">{!executive_name}</a> at <a href="mailto:{!executive_email}">{!executive_email}</a>, <a href="tel:{!executive_phone}">{!executive_phone}</a><br/><br/>
    
    Please review <a href="#">Honeywell‘s privacy statement and legal agreement</a> for using the LCBS Website
    to generate business. Agreeing to the website terms will allow us to issue you a user name
    and temporary password and give you directions on next steps.<br/><br/>
    
    We look forward to a successful partnership as we enable the Service Contractor Community
    to serve their customers in an efficient and productive manner.<br/><br/>
    
    
    Thank you.<br/><br/><br/> -->
    <!--<apex:image url="{!URLFOR($Resource.Honeywell_manager_sign)}" width="300px" height="200px"/> <br/> -->
   <!--  <apex:image value="{!sfdcBaseURL}/servlet/servlet.ImageServer?id={!sign.id}&oid={!orgid}" width="135px" height="50px"/> <br/>
    Larry Weber<br/><br/>
    Vice President and General Manager<br/><br/>
    Honeywell<br/><br/>

<table style="color:white;background-color:#085394;"><tr><td><a href="{!$Label.HMA_Invite_Distributor}?id={!AcctId}" style="color:white;background-color:#085394;text-decoration: none;">Get started now </a></td></tr></table>
<br/><br/>
</div>
</div>
</div>
</div> -->
</form>
</body>
</html>

  </apex:component>