<apex:page showHeader="false" controller="LCBS_EULAContractor_Controller">
  <apex:pageMessages id="catchmessage" />
 
<html> 
 <apex:outputPanel id="parentpanel">
<head>

<meta charset="utf-8"/>
   
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>Honeywell LCBS Contractor Portal: Distributor Sign In</title>


    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/sticky-footer.css" rel="stylesheet"/>

    <!-- Custom styles for Honeywell LCBS template -->
    <link href="css/honeywell-lcbs.css" rel="stylesheet"/>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/bootstrap.min.css')}" />
          <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/honeywell-lcbs.css')}" />
          <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/sticky-footer.css')}" />
           <apex:stylesheet value="{!URLFOR("https://az771491.vo.msecnd.net/content/honeywell.lcbs.css")}"/> -->
          <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.js')}"/>
          <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.min.js')}"/>
          <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/npm.js')}"/>
          <script src="js/ie-emulation-modes-warning.js"/>
         
           <apex:stylesheet value="{!URLFOR("https://az815540.vo.msecnd.net/content/core.css")}"/>
    
    
  <script type="text/javascript">
  
   function validate(){
  
    if (document.getElementById("agree").checked == 0){
        alert("Please accept the terms and condition");
        
       }
       
      if(document.getElementById("agree").checked == 1)
      {
       approveActionname();
      }
   }
  
  function checkReading () {
  if (checkReading.read) {
    return; 
  }
  
  checkReading.read = this.scrollHeight - this.scrollTop === this.clientHeight;
  document.registration.accept.disabled = document.getElementById("nextstep").disabled = !checkReading.read;
 }
  
  
  window.onload = function (){
 
   var Approve ='{!Approved}';
    if(Approve=='false'){
     var oToBeRead = document.getElementById("rules");
      document.registration.accept.checked = false;
      oToBeRead.parentNode.insertBefore(document.createElement("br"), oToBeRead);
      oToBeRead.onscroll = checkReading;
      checkReading.call(oToBeRead);
     }
  else{
     document.registration.accept.checked = true;
     
  }
  
  
  }
  
  </script>
  
</head>
<center>
 <body>
 <div class="container">
 
 <apex:form > 
 <apex:actionFunction name="approveActionname" action="{!approveAction}" reRender="parentpanel"/>
 <!--apex:outputText value="Approved" id="appid" rendered="{!Approved}"> </apex:outputText>-->
  </apex:form>
  
  <form name="registration">
  <br/> <br/>  <br/>
  
    <h3>Please review and sign the <br/> Contractor Agreement:</h3> <br/> 
   
    <div style="height:200px;width:300px;border:1px solid #ccc;font:16px/26px;overflow:auto;text-align:left;font-size: 15px;" id="rules"> 
    Welcome to the Honeywell Connected Buildings Site (the “Connected Site”)!  The Connected Site is an innovative Honeywell offering that provides you the tools to improve service efficiency by allowing you access to real-time data on building controls and systems in the buildings you maintain and monitor while strengthening your relationship with building owners, managers, and users (hereinafter referred to as “End Users”) (this offering, the “Connected Buildings Program”). This Contractor Agreement ("Agreement") is a legal contract between Honeywell International Inc., acting through its Environmental and Combustion Controls business, having an office at 1985 Douglas Drive North, Golden Valley, MN 55422 ("Honeywell"), and You (as defined below). The right to use the Connected Site and participate in the Connected Buildings Program is granted only on the condition that You agree to the terms in this Agreement.  By establishing an account with us and clicking “ACCEPT”, You are agreeing to the following:
REQUIRED STEPS
In order to utilize the Connected Site and participate in the Connected Buildings Program, You will need to complete several steps:
1.  Agree to these terms and conditions and establish a Connected Site account with Honeywell.
2.  Facilitate Honeywell obtaining consent from the End User to add the Designated Facility (as hereinafter defined) to be a part of the Connected Buildings Program by inviting the End User via email to subscribe to the Connected Buildings Program on this website: [still not sure URL for this website,  Need to determine this]  You will not be able to access real-time data on a Designated Facility’s (as hereinafter defined) controls and systems if Honeywell does not obtain the End User’s consent. 
3.  Purchase and install the Designated System (as hereinafter defined) into the Designated Facility.   "Designated System" means the equipment and/or hardware (e.g., a gateway) authorized by Honeywell for use with the Connected Site. "Designated Facility" means the particular building(s) owned, used or operated by End Users that your customer has authorized to participate in the Connected Buildings Program.
CONDITIONS TO PARTICIPATE IN THE CONNECTED BUILDINGS PROGRAM
In order to participate in the Connected Buildings Program, You understand and agree, represent, warrant and covenant that:
-   any contact information and other information You provide to Honeywell for the End User and Designated Facility is accurate and complete, including, but not limited to, any email addresses and other contact information, and any building, facility, controls, and equipment information; 
-   You have permission to provide all of the foregoing information and the End User has the authority to provide Honeywell permission to collect all of the foregoing data, and that Honeywell may use such information for the use and purposes contemplated herein;
-   You will notify Honeywell in the event of a change in the identity of the End User or a change in ownership of the Designated Facility by contacting your local Honeywell representative [see language in end user agreement]  and You will notify new End Users of the Connected Buildings Program; 
-   You will notify Honeywell by contacting your local Honeywell representative [same issue, how does contractor contact Honeywell.  They will have a better chance of knowing who their rep is, but in many cases, no]  in the event of the expiration or termination of Your relationship with the End User;
-   any data or other information You obtain or derive from the Connected Site may only be used by You for the sole purpose of HVAC monitoring and providing feedback and services to the End User of the Designated Building.  In this regard, You agree to keep the information safe, secure, and not to share or sell that information to any third person or company or publicize the information in any manner. You further agree to only share the information with those of your employees who need to know such information to provide service to the End User and only for such restricted purpose;
-   You will abide by all applicable data privacy laws, marketing laws, and other applicable laws when monitoring, collecting information, communicating with, and providing services to the End Users;
-   the Connected Site provides a unique and valuable means to communicate with, and have access to, End Users; therefore, You agree that with respect to such End Users, You will not use the Connected Site or any information You accessed from the Connected Site to promote a Honeywell competitor’s products or services to such End Users;
-   You will not store any personally identifiable or sensitive information on the Connected Site;
-   Honeywell will have the right to monitor, review, or retain any information related to your use of the Connected Site; and
-   You will indemnify and hold harmless Honeywell from and against all liability for any and all third party claims arising out of this Agreement or related in any way to the Connected Site and Connected Buildings Program, except to the extent caused by Honeywell’s gross negligence or willful misconduct.
LICENSE
HONEYWELL IS WILLING TO PROVIDE A LIMITED LICENSE TO THE “CONNECTED SITE”, AS DEFINED BELOW, TO YOU ONLY ON THE CONDITION THAT YOU ACCEPT ALL OF THE TERMS IN THIS AGREEMENT. PLEASE READ THE TERMS AND CONDITIONS OF THIS AGREEMENT CAREFULLY BEFORE ACCESSING OR USING THE CONNECTED SITE.  YOU ACKNOWLEDGE THAT YOU HAVE READ THIS AGREEMENT AND AGREE TO BE BOUND BY ITS TERMS AND CONDITIONS.  BY USING THE CONNECTED SITE, YOU REPRESENT THAT YOU ARE ACTING ON BEHALF OF YOURSELF, YOUR EMPLOYER, AND YOUR OR ITS EMPLOYEES, CONTRACTORS, AGENTS, AND/OR THE END USER OF THE CONNECTED SITE (SUCH PARTY HEREINAFTER REFERRED TO AS "YOU" OR THE "LICENSEE"), AND ARE AUTHORIZED TO, AND DO, ACCEPT THESE TERMS ON SUCH PARTY’S BEHALF. IF YOU DO NOT AGREE TO THE TERMS OF THIS AGREEMENT, DO NOT ESTABLISH AN ACCOUNT AND DO NOT ACCESS OR OTHERWISE USE THE CONNECTED SITE.  FOR PURPOSES HEREOF, THE “CONNECTED SITE” IS DEFINED TO INCLUDE ALL DATA, SERVICES, AND INFORMATION AVAILABLE ON THE CONNECTED SITE, AS WELL AS ANY DATA AND INFORMATION COLLECTED AND GENERATED BY THE DESIGNATED SYSTEM.
Subject to the terms and conditions herein, Honeywell grants, and You accept, a nonexclusive, non-transferable, nonsublicensable limited license to install, execute, and use the Connected Site with the Designated System(s).  All such use of the Connected Site will be for your internal business purposes, in connection with the Designated Facility only. Apart from the license expressly granted herein, no license or other right is granted by Honeywell to You under this Agreement, either directly or by implication, estoppel, or otherwise (including, but not limited to, the right to prepare derivative works). If any source code is included with the Connected Site or Designated System, it is provided solely as a reference, is provided subject to all of the limitations herein, and may not be modified by You in any way. 
Additional copyright notices and license terms applicable to portions of the Connected Site and the Designated System are set forth in the readmeLicenses.txt file available at [Insert website address, still don’t know the URL for website.  Need to determine].  In addition to any terms and conditions of any third-party open source/freeware license identified in the readmeLicenses.txt file, the disclaimer of warranty and limitation of liability provisions contained herein will apply to all third party code contained in the Connected Site and Designated System.  A portion of the Connected Site and Designated System is open source software that is available for download where specified in the readmeLicenses.txt file. The open source license that accompanies any open source software takes precedence over this Agreement with respect to, and only to, the applicable open source software.
All applicable rights in patents, copyrights, trademarks and trade secrets in the Connected Site and Designated System are and will remain with Honeywell. You will not sell, lease, transfer, publicly disclose or display or otherwise make available the Connected Site to others. You agree to secure and protect the Connected Site. You agree that You will not contest or challenge, or take any action inconsistent with or that may damage or impair Honeywell's ownership or rights in the Connected Site. You will not use the Connected Site except as is expressly authorized in this Agreement. 
You will not, and will not permit or enable others, to (i) modify, adapt, translate, reverse engineer, decompile, disassemble or otherwise attempt to create derivative works or alter the Connected Site or Designated System or discover its source code; (ii) insert, delete, replace, change or otherwise alter any files in the Connected Site or Designated System; (iii) modify, change, prepare derivative works of or otherwise alter any binary code files included with the Connected Site or Designated System; (iv) loan, rent, lease, give, sublicense, transfer, publish, disclose, display, or otherwise make available the Connected Site or Designated System, in whole or in part, to any other person or entity; (v) modify any application programming interface, including modifying any application programming interface by creating additional classes within any interface or otherwise causing the addition to or modification of the classes in an interface, and (vi) incorporate any code included with the Connected Site, Designated System, or any documentation in any product created by You.  The terms of this Section will survive termination or expiration of this Agreement.  You understand that violation of this provision may cause irreparable harm to Honeywell.
 
DATA COLLECTION AND USE
You understand and agree that Honeywell may collect and analyze certain building, controls, environmental, and energy data in order to, among other things: provide feedback to You or others about energy usage and trends; identify service opportunities; aggregate general statistics and develop reports regarding the Designated Building, Designated System or other building systems; perform analysis on all collected information; and develop individual or anonymized or aggregated reports and analyses about the foregoing for current and future uses by Honeywell.  All algorithms, insights, and inventions derived from this data will be considered Honeywell intellectual property.  In addition, Honeywell may use information to market to You, the End Users, or others.  You agree to the foregoing on behalf of yourself and the End Users whose Designated Facilities You are monitoring.  The foregoing supersedes any confidentiality obligations Honeywell may have to You.
TERM AND TERMINATION
This Agreement is effective upon the earlier of accepting these terms and first installation, downloading, access, or other use of the Connected Site and will remain in effect until terminated. You understand and agree that Honeywell can terminate your access to the Connected Site and all licenses granted hereunder at any time without notice in its sole discretion in the event: (i) it believes or knows that You are: (a) violating the terms of this Agreement, (b) violating any laws, or (ii) You have failed to timely pay, or Honeywell believes You will be unable to pay, any amounts due to Honeywell, or (iii) Honeywell receives any complaints from customers or distributors about You or anyone affiliated with You, or (iv) Honeywell no longer desires to provide the Connected Site, in which event Honeywell will provide You 15 days notice in advance of such discontinuance, or (v) the End User requests that access be terminated or suspended.  In the event of termination or in the event You do not continue your participation in the Connected Buildings Program, Honeywell may, in its sole discretion, notify the End Users of such termination or non-renewal, as the case may be.  
DISCLAIMER OF WARRANTY; NO ASSURANCES; LIMITATION OF LIABILITY; INDEMNIFICATION
THE CONNECTED SITE AND DESIGNATED SYSTEMS ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND. FURTHER, HONEYWELL DOES NOT WARRANT, GUARANTEE, OR MAKE ANY REPRESENTATIONS REGARDING THE USE, OR THE RESULTS OF THE USE OF THE CONNECTED SITE OR DESIGNATED SYSTEMS IN TERMS OF CORRECTNESS, ACCURACY, RELIABILITY OR OTHERWISE. THE ENTIRE RISK AS TO THE RESULTS AND PERFORMANCE OF THE CONNECTED SITE AND DESIGNATED SYSTEM IS ASSUMED BY YOU. IF THE CONNECTED SITE OR DESIGNATED SYSTEM ARE DEFECTIVE, YOU AND NOT HONEYWELL ASSUMES THE ENTIRE COST OF ALL NECESSARY SERVICING, REPAIR OR CORRECTION. HONEYWELL DISCLAIMS ALL WARRANTIES INCLUDING WITHOUT LIMITATION, IMPLIED WARRANTIES OF NON-INFRINGEMENT, MERCHANTABILITY, TITLE AND FITNESS FOR A PARTICULAR PURPOSE.
There can be no assurances whatsoever that the Connected Site or Designated System will protect any individual or his or her property from harm. Appropriate safety precautions must always be taken and experienced installers and operators must be utilized when installing, setting up, operating or maintaining any building systems. Incorrect processes may result in property loss, severe injury, or death.  Honeywell assumes no responsibility or liability for any injury or damage to any persons or property resulting from the use of the Connected Site or Designated System.  Further, You represent and warrant that You will take appropriate precautions, establish appropriate procedures and post appropriate notices to ensure that persons and property are not harmed in the event of an error, malfunction or unexpected operation of the Connected Site or Designated System.

NEITHER HONEYWELL NOR ANYONE ELSE WHO HAS BEEN INVOLVED IN THE CREATION, PRODUCTION OR DELIVERY OF THE CONNECTED SITE OR DESIGNATED SYSTEM WILL BE LIABLE FOR ANY DIRECT, INDIRECT, CONSEQUENTIAL, OR INCIDENTAL DAMAGES (INCLUDING DAMAGES FOR LOSS OF BUSINESS PROFITS, LOSS OF USE, LOST BUSINESS, PERSONAL INJURY, LOST OR CORRUPTED DATA, UNAUTHORIZED ACCESS TO OR USE OR MISAPPROPRIATION OF DATA BY THIRD PARTIES, BUSINESS INTERRUPTION, AND THE LIKE), HOWEVER IT ARISES, WHETHER FOR BREACH, INDEMNITY, WARRANTY, OPERATION OF LAW, IN TORT, OR OTHERWISE, EVEN IF HONEYWELL HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IN NO EVENT WILL HONEYWELL BE LIABLE FOR ANY AMOUNT IN EXCESS OF THE AMOUNTS PAID BY YOU FOR THE CONNECTED SITE OR $500, WHICHEVER IS LESS.
You agree to indemnify and hold Honeywell harmless from and against any claim, loss or damage, arising directly or indirectly out of your use of the Connected Site or Designated System or the use of the Connected Site or Designated System by anyone while the Connected Site is licensed to You.  In the event the cause of any damage cannot be determined, the damage will be presumed to be caused by your use of the Connected Site and this paragraph will apply with respect to such damage.
ADDITIONAL TERMS
The failure of either party to enforce at any time any of the provisions of this Agreement will not be construed to be a continuing waiver of any provisions hereunder nor will any such failure prejudice the right of such party to take any action in the future to enforce any provisions hereunder.
In the event any provision of this Agreement is determined to be illegal, invalid, or unenforceable, the validity and enforceability of the remaining provisions of this Agreement will not be affected and, in lieu of such illegal, invalid, or unenforceable provision, there will be added as part of this Agreement one or more provisions as similar in terms as may be legal, valid and enforceable under applicable law.
You acknowledge that any breach of your obligations hereunder with respect to the Connected Site or the confidential information of Honeywell will cause Honeywell irreparable injury for which it has no adequate remedy at law. You further agree that Honeywell will be entitled to seek and obtain equitable relief, including preliminary injunctions and temporary restraining orders, to prevent any unauthorized use of the Connected Site and confidential information, without posting of bond or other security, in addition to all other remedies available to it under this Agreement or other applicable law.
The Designated System, including technical data, is subject to U.S. export control laws, including the U.S. Export Administration Act and its associated regulations, and may be subject to export or import regulations in other countries. You agree to comply strictly with all such regulations and acknowledge that You have the responsibility to obtain such licenses to export, re-export, or import the Designated System. The Designated System may not be used, sold, resold, sublicensed, diverted, transferred, reshipped, or otherwise exported or re-exported: (i) in, into or through any country designated as a terrorist supporting country by the U.S. government or any of its agencies; (ii) in, into or through any country for which the U.S. has an embargo or with which the U.S. or any of its agencies maintains comprehensive trade controls; (iii) to or by a national or resident of the countries described in (i) or (ii); or (iv) to or by any party included in the United States Department of Commerce's Denied Persons List, Entity List or Unverified List; or the United States Department of the Treasury's Specially Designated Nationals, Specially Designated Global Terrorists, Specially Designated Narcotics Traffickers, or Specially Designated Terrorists List; or the United States Department of State's Designated Foreign Terrorist Organizations or Debarred Persons List; or is otherwise designated by the U.S. government, or any of its agencies, as a party with which it is unlawful to do business 
The Designated System is provided with restricted rights. With respect to any acquisition of the Designated System by or for any unit or agency of the U.S. Government ("Government"), the Designated System shall be classified as "Commercial Computer Software," as that term is defined in the applicable provisions of the Federal Acquisition Regulation ("FAR") and supplements thereto, including the Department of Defense ("DoD") FAR Supplement ("DFARS"). If the Designated System is supplied for use by DoD, the Designated System is delivered subject to the terms of this Agreement and either (i) in accordance with DFARS 252.227-7202-1(a) and 227.7202-3(a), or (ii) with restricted rights in accordance with DFARS 252.227 7013(c)(1)(ii), as applicable. If the Designated System is supplied for use by a federal agency other than DoD, the Designated System is restricted computer software delivered subject to the terms of this Agreement and (i) FAR 12.212(a); (ii) FAR 52.227-19; or (iii) FAR 52.227-14 (ALT III), as applicable.  The terms and conditions of this Agreement shall pertain to the Government’s use and disclosure of the Designated System, and shall supersede any conflicting contractual terms or conditions, except to the extent that any term or condition is inconsistent with Federal law. If the Government requires any rights that are not conveyed under this license agreement, such rights will be separately negotiated and shall be set forth in a separate agreement or an addendum to this license agreement. 
This Agreement will be governed by and interpreted in accordance with the laws of the State of New York without reference to conflict of laws principles. This Agreement will not be governed by the United Nations Convention on Contracts for the International Sale of Goods, or by the Uniform Computer Information Transactions Act (UCITA). The parties agree that exclusive jurisdiction for any dispute arising out of or relating to this Agreement lies within courts located in the State of Minnesota. Notwithstanding the foregoing, any judgment may be enforced in any United States or foreign court.
Under no circumstances may You use any trademark or service mark of Honeywell to identify goods or services provided by You except as expressly agreed to by Honeywell in writing. 
You may not assign this Agreement without Honeywell’s prior written consent. This Agreement comprises the entire agreement between the parties relating to its subject matter. This Agreement supersedes all prior agreements and understandings, written or oral, express or implied. This Agreement can be amended or modified only by a writing executed in advance by duly authorized representatives of each of the parties hereto. In the event any foreign ministry or other governmental entity or agency makes any changes, deletions or modifications to this Agreement, holds any provision herein unenforceable or imposes any conditions or restrictions on either party to this Agreement which affects its ability to fully perform, Honeywell will have the right to immediately terminate this Agreement. By clicking the I ACCEPT button [this is OK]  and/or using the Connected Site, You represent and warrant that all consents, approval or authorizations of third parties, foreign ministries or any governmental entities or agencies, required as a condition or otherwise necessary for You to enter into and perform your obligations under this Agreement have been duly obtained. 


    <div class="checkbox" style="padding-left:18px;">
     <label>
     <input type="checkbox" id="agree" name="accept"><b>I have read and understood this agreement,<br/> and grant contractor access to my building's data.</b></input>
     </label>
     </div>
    </div>
    
     
     
    
     
     <apex:outputPanel id="confirmpanel" rendered="{!NOT(Approved)}"> 
     <input type="button" id="nextstep" value="Confirm" onclick="validate(); return false;" style="background:#3784DE;width:25%;height:50px;text-align:center;border-radius:5px;color:white;font-size:15px;"/>
     </apex:outputPanel>
     
     <apex:outputPanel id="afterconfirmpanel" rendered="{!Approved}">
     <apex:outputText value="Accepted" style="background:#d6f5d6;width:25%;height:70px;text-align:center;border-radius:5px;color:green;font-size:15px;" ></apex:outputText> 
     </apex:outputPanel>
   
    
  </form>
 
 
  </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
 </body>
 </center>
 </apex:outputPanel>
 </html>
</apex:page>