<!--------------
Name         : LCBS_Contractor_SignIn
Created By   : Nagarajan Varadarajan
Company Name : NTT Data
Project      : Honeywell-LCSB
Created Date : May 5, 2015
Test Class   :  
Test Class URL: 
Usages       : 
Modified By  : 
---------->
<apex:page controller="LCBS_DistributorSignInController" showChat="false" showHeader="false" sidebar="false">
  <apex:form >

  <html>
  <head>
  <!--<c:LCBSDistributorHeader />-->
    <c:LCBSDistributorHeader_agreement />
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>Honeywell LCBS Contractor Portal: Contractor Sign In</title>
    <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/bootstrap.min.css')}" />
    <!--<apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/honeywell-lcbs.css')}" /> -->
     <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/sticky-footer.css')}" />
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/npm.js')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/salesforce_CSS.css')}" />
      <apex:stylesheet value="{!PAGE_CSS}"/>
    <!-- Bootstrap core CSS -->
    

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    input[type="email"] {
      font-family: "HelveticaBold";
      font-size: 20pt;
      color: #36465F;
      height: 50px;
      width: 300px;
      border: 1px solid #CFD3D9;
      border-radius: 2px;
    }
    input[type="password"] {font-size:20pt !important}
    .borderL {border-left: 1px solid #ccc;min-height: 440px}
    @media (max-width: 23.438rem ) { /*375px*/
.borderL{
display:none
}
}
@media (min-width: 48.000rem ) { /*375px*/
.borderL{
display:none
}
}
@media (max-width: 48.000rem ) { /*375px*/
.borderL{
display:none
}
}
@media (min-width: 62.000rem ) { /*375px*/
.borderL{
display:block
}
}
    </style>
  </head>

  <body>
  <apex:pageMessages />
  <apex:actionFunction name="signin" action="{!forwardToStartPage}"/>
    <br/> <br/>
    <div class="container" style="background:#fff;width:100%;padding:80pt 0 120pt 0">
        
                  

        <div class="row" style="margin:0 !important">
      

      <form class="form-signin"> 
      <div class="col-md-6 col-sm-6" style="padding-left:4%; margin:0 auto">
        <p class="messageText">Welcome</p>
           <p class="labelText">Please sign in </p>       
        <p><input type="email" id="inputEmail" class="form-control formWidth" placeholder="User Name"/></p>        
        <p><input type="password" id="inputPassword" class="form-control formWidth"  placeholder="Password"/></p>
        <div class="checkbox">
          <input type="checkbox" name="remember-me" id="rem-me" value="4" /><label for="rem-me"> &nbsp;&nbsp;Remember me</label>
        </div> <br/>
        <!--<a href="index-distributor.html" class="btn btn-primary btn-lg btn-block" role="button">Sign in</a> -->
        <p> 
        <input type="button" style="background:#3784DE;width:300px;height:50px;text-align:center;border-radius:3px;font-size: 16px;" value="Sign in" name="button" class="button" onclick="signin();"/> <br/>
        </p>
        <p>
            <apex:commandLink value="Forgot Username?" />  or &nbsp;  <apex:commandLink value="Forgot password?"/>
       </p>
        </div>
      </form> 
      <div class="col-md-1"><p class="borderL"></p></div>
      
      <div class="col-md-4 col-sm-6" style="padding-top:50pt">
      <p class="labelText"> What is Honeywell LCBS? </p> 
      <p class="dataText">(This space reserved for an introductory explanation about LCBS. This serves the purpose of people who are not part of the program, but who arrive to the site via a web search.)</p>

    <p><a href="#"> Learn More > </a> </p>

     <p style="padding-top:20pt"></p>
 
   <p class="labelText"> Honeywell Connected Buildings  </p> 
      <p class="dataText">(This space reserved for an introductory explanation about LCBS. This serves the purpose of people who are not part of the program, but who arrive to the site via a web search.)</p>
    <p><a href="#"> Learn More > </a></p>


     </div> 
     </div>
    </div> <!-- /container -->
    <br/>
    <br/>
    <br/>
  

   



    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

  </apex:form>
</apex:page>